.phoneFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.phoneNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.phoneNav .anchor {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom: solid 1px #00A699;
  text-align: center;
}
.quoteTablet {
  line-height: 3.5rem;
  color: #484848;
  margin-top: 1.5%;
  margin-bottom: 1%;
}
.mainSection-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainLeft-flex {
  width: 100%;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
}
@media (max-width:500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
header .navLogo {
  width: 30%;
}
@media (max-width:500px) {
  header .navLogo {
    width: 100%;
    text-align: center;
  }
}
header .navBar {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  header .navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  header .navBar .anchor {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: solid 1px #00A699;
    text-align: center;
  }
}
header .navBar a {
  font-size: 2.2rem;
  text-decoration: none;
  color: #FF5A5F;
}
header .navBar a:hover {
  text-decoration: none;
  color: #00A699;
}
.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width:500px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.main .main-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}
@media (max-width:500px) {
  .main .main-left {
    width: 100%;
    align-items: center;
  }
}
.main .main-left h1 {
  width: 100%;
  font-size: 7.5rem;
  margin-bottom: 5%;
  color: #FF5A5F;
}
@media (max-width:500px) {
  .main .main-left h1 {
    font-size: 5rem;
    text-align: center;
  }
}
.main .main-left p {
  width: 100%;
  font-size: 2.7rem;
  margin-bottom: 3%;
  color: #00A699;
}
@media (max-width:500px) {
  .main .main-left p {
    text-align: center;
  }
}
.main .main-left .buttonDiv {
  width: 100%;
  margin-bottom: 2.5%;
}
@media (max-width:500px) {
  .main .main-left .buttonDiv {
    text-align: center;
  }
}
.main .main-left .buttonDiv button {
  text-align: center;
  width: 80%;
  margin-right: 5%;
  margin-left: 5%;
  line-height: 5rem;
  border-radius: 15px;
  background-color: #FF5A5F;
  font-size: 2rem;
  color: #484848;
}
.main .main-right {
  width: 60%;
}
.main .main-right .main-image {
  max-width: 100%;
  margin: 1.5%;
}
.largeQuote {
  width: 100%;
  background-color: #FF5A5F;
  margin-bottom: 3.5%;
  box-shadow: 10px 15px #484848;
}
.largeQuote .largeQuotePara {
  margin-left: 5%;
  margin-right: 5%;
  line-height: 4rem;
  font-size: 2.7rem;
  color: #484848;
}
@media (max-width:800px) {
  .largeQuote .largeQuotePara {
    line-height: 3.5rem;
    color: #484848;
    margin-top: 1.5%;
    margin-bottom: 1%;
  }
}
.testimony {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5%;
  margin-right: 5%;
  margin-left: 5%;
}
@media (max-width:500px) {
  .testimony {
    margin-top: 5%;
  }
}
.testimony .subContainer {
  border: 3px solid #FF5A5F;
  width: 80%;
  margin-bottom: 3%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px #767676;
}
@media (max-width:500px) {
  .testimony .subContainer {
    margin-bottom: 5%;
  }
}
.testimony .subContainer h3 {
  font-size: 3rem;
  margin-top: 1%;
  color: #FF5A5F;
}
.testimony .subContainer p {
  margin-top: 1%;
  font-size: 1.8rem;
  margin-left: 10%;
  margin-right: 10%;
  color: #767676;
}
.testimony .subContainer img {
  margin-bottom: 2%;
}
.meet {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #767676;
  margin-bottom: 5%;
}
.headShotContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20%;
}
.headShotContainer .teamMember {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 40%;
  filter: grayscale(100%);
}
.headShotContainer .teamMember:hover {
  filter: none;
  background-color: #D3D3D3;
}
.headShotContainer .teamMember div {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-right: 1%;
  text-align: center;
}
.headShotContainer .teamMember div h4 {
  text-transform: uppercase;
}
.footer-section {
  width: 100%;
  border-top: 2px solid #767676;
  background-color: #FF5A5F;
  flex-shrink: 0;
}
.footer-section nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.footer-section nav a {
  line-height: 4rem;
  font-size: 2rem;
  text-decoration: none;
  color: #484848;
}
h2 {
  font-size: 3rem;
  margin: 5%;
}
.feature-container {
  display: flex;
  width: 90%;
  margin: auto;
}
.features p {
  font-size: 1.6rem;
  width: 85%;
  margin: 5%, auto;
}
.features img {
  width: 85%;
  margin: 2% 0 8% 0%;
}
.features .coins {
  width: 88%;
}
.partnerships {
  background-color: #767676;
  width: 90%;
  margin: 5% auto;
}
