h2{
    font-size: 3rem;
    margin: 5%;
    color: @airBNB-red;
    @media @mobile{
        text-align: center;
    }
    

}

.feature-container{
    display: flex;
    width:90%;
    margin:auto;
    @media @mobile{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    @media @tablet{
        display:flex;
        flex-direction: column;
    }
    
}

.features p{
    font-size: 1.6rem;
    width: 85%;
    margin: 5%, auto;
    color: @airBNB-gray;
    @media @mobile{
        margin: 5% auto;
    }
    @media @tablet{
        width: 300px;
        margin: 8% auto;
        font-size: 2rem;
    }
    

    
}

.features img{
    width: 85%;
    margin: 2% 0 8% 0%;
    @media @mobile{
        margin: 5% 8%;
    }
    @media @tablet{
        width: 80%;
    }

    
}

.features .coins{
    width: 88%;
    @media @mobile{
        margin: 5% 5%;
    }
    @media @tablet{
        width: 80%;
        margin: 3% 10% 3% 25%;
    }
}

#feature1{
    @media @tablet{
        display:flex;

    }
}

#feature2{
    @media @tablet{
        display:flex;
        flex-direction: row-reverse;
    }
}

#feature3{
    @media @tablet{
        display:flex;
    }
}