h2{
    font-size: 3rem;
    margin: 5%;
}

.feature-container{
    display: flex;
    width:90%;
    margin:auto;
}

.features p{
    font-size: 1.6rem;
    width: 85%;
    margin: 5%, auto;
    
}

.features img{
    width: 85%;
    margin: 2% 0 8% 0%;
    
}

.features .coins{
    width: 88%;
}

