
footer #footerNav{
        width: 100%;
        border-top: 2px solid @airBNB-lightGray;
        background-color: @airBNB-red;
        display: flex;
        flex-direction: row;
        padding: 1%;
        
        a{
            text-decoration: none;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: @airBNB-gray;
            font-size: 2rem;
            
            
        }
        
        
            
    
       
}