header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 2%;

    .navLogo{
        width: 30%;
    }
    .navBar{
        width: 50%;
        display: flex;
        justify-content: space-between;

        a {
            font-size: 1.8rem;
            text-decoration: none;

            a:hover{
                text-decoration: none;
            }
        }
    }
}