.testimony {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5%;
    margin-right: 5%;
    margin-left: 5%;

    h3{
        font-size: 2.5rem;
        color: @airBNB-green;
    }
}